# Flutter / Dart / Mobile dependencies & build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# IDE & Editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# iOS & macOS build artifacts
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/

# Node / Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Logs and OS files
*.log
.DS_Store
Thumbs.db
